.form input[type="tel"],
.form input[type="email"] {
    width: 500px;
    height: 37px;
    border: 2px solid gray;
    background-color: rgba(0, 0, 0, 0);
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    transition:
        border-color 0.35s ease,
        box-shadow 0.35s ease;

    padding: 10px 15px;
    box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.15),
        inset 0 0 30px rgba(0, 0, 0, 0.04);
}

.form input:hover,
.form input:focus {
    border-color: #FFD700;

    box-shadow:
        0 0 0 1px rgba(160, 120, 0, 0.35),
        0 0 48px rgba(160, 120, 0, 0.45);
}

.form input[type="email"] {
    width: 300px;
}

input::placeholder {
    font-weight: 600;
    font-size: 22px;
    color: #2b1b10;
}

.button {
    font-size: 1.15rem;
    padding: 14px 32px;
    background: linear-gradient(145deg,
            #cbb28a,
            #b79a6a);

    color: #2b1b10;
    border: 2px solid #6b4a2d;
    border-radius: 6px;
    letter-spacing: 0.08em;

    box-shadow:
        inset 0 1px 3px rgba(255, 255, 255, 0.35),
        0 8px 20px rgba(0, 0, 0, 0.35);

    transition: all 0.2s ease;
}

.button:hover {
    color: #FFD700;
    background: linear-gradient(145deg,
            #6b5a3a,
            #5a4a2f,
            #4b3d26);
    transform: translateY(-1px);
}

.button:active {
    transform: translateY(0);
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.2),
        inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.familyForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* padding: 40px 0px; */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    margin: 0 auto;
    gap: 20px;
    background: #fffaf0;
    border-radius: 18px;
    padding: 32px 48px;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.15),
        inset 0 0 30px rgba(0, 0, 0, 0.04);
    background-color: rgba(245, 238, 224, 0.7);
}

.form>label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    gap: 10px;
}

.back-img {
    align-self: flex-start;
    width: 20px;
    height: 20px;
}

@media (max-width: 820px) {
    .form {
        width: auto;
    }
}

@media (max-width: 640px) {

    input::placeholder {
        font-size: 18px;
    }

    .form input[type="email"] {
        width: 200px;
    }

    .form input[type="tel"] {
        width: 400px;
    }
}

@media (max-width: 540px) {
    input::placeholder {
        font-size: 16px;
    }

    .form input[type="email"] {
        width: 200px;
    }


    .form input[type="tel"] {
        width: 300px;
    }
}

@media (max-width: 440px) {
    input::placeholder {
        font-weight: 500;
        font-size: 18px;
    }

    .form input[type="email"] {
        width: 260px;
    }

    .form input[type="tel"] {
        width: 200px;
    }

    input {
        font-size: 18px;
    }

    .form>label {
        font-size: 20px;
    }

    .form {
        gap: 30px;
        padding: 20px 10px;
    }
}

@media(max-height: 500px) {
    .familyForm {
    padding: 40px 0px;
}
}