.next-form {
  background-image: url(/src/img/button-img.png);
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  width: 600px;
  height: 80px;
  font-size: 38px;
  color: #fffdf8;
}

.family-form {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 40px;
}

.form>label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  gap: 10px;
}

input {
  width: 500px;
  height: 37px;
  border: 2px solid gray;
  background-color: rgba(0, 0, 0, 0);
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
  border-radius: 5px;
  transition:
    border-color 0.35s ease,
    box-shadow 0.35s ease;
}

.form input:hover,
.form input:focus {
  border-color: #FFD700;

  box-shadow:
    0 0 0 1px rgba(160, 120, 0, 0.35),
    0 0 48px rgba(160, 120, 0, 0.45);
}

.mother-input {
  width: 310px;
  height: 35px;
}

.name-birthday {
  width: 450px;
  height: 35px;
  text-align: center;
}

input::placeholder {
  font-weight: 600;
  font-size: 22px;
}

.name-birthday::placeholder {
  text-align: center;
}

.doors-symbol {
  width: 30px;
  height: 30px;
}

.doors-symbol:hover {
  transform: translateY(-1px);
  color: #FFD700;
}

@media (max-width: 630px) {
  input::placeholder {
    font-size: 18px;
  }

  .name-birthday {
    width: 350px;
  }

  .mother-input {
    width: 210px;
  }

  .name-input {
    width: 400px;
  }

  .next-form {
    width: 500px;
  }
}

@media (max-width: 500px) {
  input::placeholder {
    font-size: 16px;
  }

  .name-birthday {
    width: 250px;
  }

  .mother-input {
    width: 180px;
  }

  .name-input {
    width: 300px;
  }

  .next-form {
    width: 400px;
  }
}

@media (max-width: 400px) {
  input::placeholder {
    font-weight: 500;
    font-size: 14px;
  }

  .name-birthday {
    width: 170px;
  }

  .mother-input {
    width: 100px;
  }

  .name-input {
    width: 220px;
  }

  .next-form {
    width: 320px;
    font-size: 26px;
  }

  input {
    font-size: 18px;
  }

  .form>label {
    font-size: 20px;
  }

  .form {
    gap: 30px;
  }
}

@media (max-height: 560) {
  .family-form {
    padding: 40px 0px;
  }
}